<div id="front-page-map" style="width:600px;height:300px">
    Google Map
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs-rqhH4Ut7Kx76NkxZwxWpzjA9n_2-Ck&callback=initFrontPageMap"></script>