<div>
    {{#posts}}
        <h1>{{{title}}}</h1>
        <div>{{{excerpt}}}</div>
        <a href="{{{link}}}">Read more</a>
    {{/posts}}
    <div>
        <button data-load-more>Load more</button>
    </div>
</div>